<div class="row" style="margin-left: 5%;">
    <div class="col-md-5" style="background-color: rgb(99,194,222);">
        <app-bar-chart></app-bar-chart>
    </div>
    <div class="col-md-5" style="background-color: rgb(32,168,216);">
        <app-pie-chart></app-pie-chart>
    </div>
    <div class="col-md-5" style="background-color: rgb(255,193,7);">
        <app-pie-chart-contract></app-pie-chart-contract>
    </div>
    <div class="col-md-5 text-center" style="background-color: rgb(248,108,107);">
        <app-radar-chart></app-radar-chart>
    </div>
</div>
