.vertical-nav {
    min-width: 13rem;
    width: 13rem;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  a{
      color: white;
      font-size: small;
  }
  a:focus{
      background-color: rgb(153, 153, 153);
      color: #fff;
  }
  