<div class="hor">
    <nav class="navbar navbar-expand-sm bg-light text-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">A &nbsp;&nbsp;&nbsp; I &nbsp;&nbsp;&nbsp; O &nbsp;&nbsp;&nbsp; T</a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click) = "getVisible()"><i class="fa fa-bars ml-4 mr-4"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Settings</a>
          </li>
        </ul>
      </nav>
</div>